html, body {
margin: 0;
padding: 0;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
#activityTitle{
text-align:center;
font-size:38px;
margin-top:50px;
}
#cardArea{
width:100vw;
height:50vh;
margin:auto;
margin-top:2vh;
border:3px solid #ABB7B7;
border-radius:5px;
position:relative;
overflow: inherit;
}
.card {
width:100vw;
height:50vh;
overflow: auto;
position:absolute;
font-size:20px;
color:#000000;
cursor:pointer;
}
.input {
    color: rgb(0, 0, 0);
}
.input{
    width: 50vw;
    height: 70vh;
    left: 25vw;
    position: absolute;
    display: flex;
}
#newCardArea{
    display: flex;
    place-content: space-evenly;
    flex-direction: column;
}
.inputAnswer{
    top: 40vh;
    height: 20vh;

}
.inputQuestion{
    top: 18vh;
    height: 20vh;
}
#buttonArea, #topButtonArea{
    display: -webkit-inline-box;
    margin-left: 15%;
}
.catbutton{
width: 5vw;
text-align:center;
font-size:10px;
cursor:pointer;
color:#efefef;
margin-top:15px;
margin-left: 10px;
background-color:#019875;
}
.button{
width:15vw;
text-align:center;
font-size:20px;
padding:10px;
cursor:pointer;
color:#efefef;
margin-top:15px;
margin-left: 10px;
background-color:#019875;
border: 2px solid #1E824C;
border-radius:5px;
}
.button:hover{
opacity:.6;
}
#finalMessage{
text-align:center;
font-size:30px;
margin-top:30px;
}
